:root{
    --bg: #0B0E0F;
    --surface: #10161A;
    --border: #1F2A30;
    --text: #E6F1F7;
    --muted: #A7BCC7;
    --blue: #3B82F6;
}

body{
font-family: Arial;
margin:0;
background:var(--bg);
color: var(--text);
}

header{
background:#111;
color:var(--text);
border: 1px solid black;
padding:15px;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1000px;
margin:auto;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

nav a{
color:var(--text);
text-decoration:none;
}

.sobre{
display:flex;
align-items:center;
gap:30px;
max-width:1000px;
margin:50px auto;
padding:20px;
background:var(--surface);
border-radius:10px;
border: 1px solid black;
transition: transform .25s ease, box-shadow .25s ease, border-color .25s ease;

}
.sobre:hover{
    transform:translateY(-2px);
    box-shadow: 0 18px 55px rgba(255, 253, 253, 0.171);
    border-color:var(--border);
}

.sobre img{
width:180px;
border-radius:50%;
}

section{
max-width:1000px;
margin:40px auto;
padding:20px;
background:var(--surface);
border-radius:10px;
border: 1px solid rgba(0, 0, 0, 0.432);
}
section:hover{
    transform:translateY(-2px);
    box-shadow: 0 18px 55px rgba(255, 253, 253, 0.171);
    border-color:var(--border);
}

.skills{
display:flex;
flex-wrap:wrap;
gap:10px;
}

.skill{
background:var(--border);
padding:10px 15px;
border-radius:5px;
}

.projetos {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; /* importante pra não quebrar em telas menores */
}

.card {
    background-color: var(--surface);
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 12px;
    width: 300px;
    color: var(--text);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

footer{
text-align:center;
padding:20px;
background:#111;
color:white;
margin-top:40px;
}